MYSQL_DATABASE=zzyl
MYSQL_USERNAME=root
MYSQL_PASSWORD=we005218
MYSQL_PORT=3306
BACKEND_PORT=8080

VUE_APP_API_BASE_URL=http://localhost:8080
VUE_APP_PORT=5173

ALIYUN_OSS_ENDPOINT=https://oss-cn-chengdu.aliyuncs.com
ALIYUN_OSS_BUCKET=zzyl-706
ALIYUN_OSS_REGION=cn-chengdu
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
